@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior:smooth;
}




:root{
  --width-lg:86%;
  --width-md:90%;
  --width-sm:96%;
}

::-webkit-scrollbar{
  display: none;
}

ul{
  list-style: none;
}

li{
  padding: .5rem 0;
}
li>a{
  text-decoration: none;
  color: white;
}

p{
  text-align: justify;
}

.section_container{
  max-width: var(--width-lg);
  margin: 1rem auto;
  display: block;
}
::selection{
  color: #001122;
  background-color: #F7770F;
}
/* 663--tab width for hamburger 

001122
F7770F*/