
#claims_list_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.claim_cards {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* justify-items: center; */
    gap: 1rem;
    
}

.card_item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem;
    color: white;
    background: url('./card_bg.svg') no-repeat center;
    background-size: cover;
}

.claim_details {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
    max-width: 100%;
    /* border: 2px solid rgb(31, 13, 165); */
}
.claim_details>h5{
    width:  100%;
}
.claim_details>p{
    /* display: inline-block; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /* border: 2px solid red; */
    text-align: right;
}

.action_button {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.delete_btn:hover {
    background-color: red;
    color: white;
    transition: .3s ease-in-out;
}
.edit_btn:hover {
    background-color: rgb(134, 112, 1);
    color: white;
    transition: .3s ease-in-out;
}

.action_btn {
    background-color: #e9e9e9;
    padding: .5rem;
    border-radius: 50%;
}
/* CSS For Filter Form */

