.wrapper{
    min-height: 80vh;
}
.claim_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
}

.cards_item {
    display: flex;
    padding: 1rem;
    background-size: cover;
}

.card_item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem;
    color: white;
    background: url('./card_bg.svg') no-repeat center;
    background-size: cover;
    height: max-content;
    max-width: 24rem;
}
.claim_details {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.claim_details>h5 {
    width: 100%;
}

.claim_details>p {
    width: 50rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: right;
}

.action_buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.delete_btn:hover {
    background-color: red;
    color: white;
    transition: .3s ease-in-out;
}

.edit_btn:hover {
    background-color: #305477;
    color: white;
    transition: .3s ease-in-out;
}

.action_btn {
    background-color: #ffffff;
    padding: .5rem;
    border-radius: 50%;
}

/* Media Queries*/
@media screen and (max-width:400px) {
    .claim_cards {
        justify-items: center;
    }

    .card_item {
        max-width: 20rem;
        height: max-content;
    }
}
@media screen and (max-width:365px) {
    .claim_cards {
        justify-items: start;
        border: 1px solid red;
    }

    .card_item {
        max-width: 14rem;
        height: max-content;
    }
}