#create_claim{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    padding: 1rem;
}
/* .app_details{
    background: url('./side_bg.svg')  no-repeat;
    background-size: cover;
} */
.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./card_bg.svg') no-repeat center;
    background-size: cover;
    color: white;
    padding: 1rem;
}

.form_wrapper>form{
    padding: 1rem;
}

.item_input>input{
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    color: white;
    width: 100%;
}

.item_input{
    display: flex;
    align-items: center;
    gap: .6rem;
    border-bottom: 2px solid rgb(206, 206, 206);
    padding-bottom:.2rem ;
    margin-top: 1.2rem; 
}
.status_select{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
}
.status_select>option{
    background: rgb(35, 118, 243);
    color: white;
}

.item_input>input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
  }

.btn{
    background: #d66000;
    border: none;
    padding: .4rem; 
    cursor: pointer;
    margin-top: 1rem;
    color: white;
    transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.btn:hover{
    background: #f26d00;
}

.btn_back{
    background: #ac4d00;
    border: none;
    padding: .4rem; 
    cursor: pointer;
    margin-top: 1rem;
    color: white;
    transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-right: 1rem;
}
